.image-holder {
    height: 100vh;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        'picture textHalf';

    .home-background-image {
        grid-area: picture;
        background: url('../assets//The\ True\ Colors\ Done.jpg') no-repeat center center;
        background-size: cover;
        // width: 100%;
        // height: auto;
        display: flex;
        justify-content: center;
        align-items: center;



        .home-background-image_name-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            font-size: 2rem;
            opacity: 0.5;
        }
    }


    .second-home-background-image {
        grid-area: textHalf;
        background-color: black;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        .PageData {
            z-index: 1;
            color: rgb(255, 224, 47);
            // overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .Title {
                letter-spacing: 3px;
                cursor: pointer;

                &:hover {
                    transform: skewY(-2deg) skewX(-15deg) scale(1.1);
                    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
                }

                transition: all .2s;
            }

            .composition__photo {
                width: 100px;
                box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
                border-radius: .2rem;
                position: absolute;
                z-index: 10;
                transition: all .2s;
                outline-offset: 2rem;

                &:hover {
                    outline: 1.5rem solid #55c75a;
                    transform: scale(1.05) translateY(-0.5rem);
                    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
                    z-index: 20;
                }
            }
        }



    }



}