.center_content {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;

  .contain_pics {
    width: 80%;
    display: flex;
    backface-visibility: hidden;
    background-color: black;

    .pics {
      backface-visibility: hidden;
      overflow: hidden;
      flex: 0.8;
      object-fit: cover;
      height: 520px;
      transition: font-size 0.4s cubic-bezier(0, 0, 1, 1),
        flex 0.4s cubic-bezier(0, 0, 1, 1);

      &:hover {
        flex: 6;
        backface-visibility: hidden;
        overflow: hidden;
      }
    }
  }
}

.mdl {
  background-color: black;
  z-index: 10000;
  height: 100%;
  width: 100%;
}

.a {
  z-index: -1;
}

@media screen and (max-width: 900px) {
  .contain_pics {
    display: flex;
    flex-direction: column;
    height: 500px;
    margin-top: 20px;
  }
}
