.serv_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15%;

    .serv {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;

    }

    .imgs {
        display: flex;
        margin-top: 2%;
        align-items: center;
        justify-content: center;
    }

    .imgs_serv {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;

        .ex_pick {
            object-fit: cover;
            width: 250px;
            height: 250px;
            border-radius: 50%;
        }
    }
}

@media screen and (max-width: 900px) {
    .imgs {
        display: flex;
        margin-top: 2%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imgs_serv {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        margin-top: 8%;

        .ex_pick {
            object-fit: cover;
            width: 250px;
            height: 250px;
            border-radius: 50%;
        }
    }
}