.conatiner_logo {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

.cpy_write {
    background-color: black;
    display: flex;
    justify-content: center;
    color: blanchedalmond;
}