body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  /* overflow: hidden; */
}

.header {
  z-index: 1;
  position: absolute;
  color: #ffe02f;
  display: flex;
}

.header .header-business {
  justify-content: space-between;
}

.header .header-routes {
  display: flex;
  justify-content: space-between;
}